@import "../../variables.scss";

section.notes-page {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;

   @include md {
      flex-direction: row;
   }

   .notes-layout {
      padding: 45px 40px;
   }

   .notes-header {
      padding: 40px 0;
   }

   .notes-container {
      display: flex;
      flex-direction: row;
   }

   .note-wrapper {
      margin: 5px;
   }
}
