@import "../../variables.scss";

section.notes-page {
   width: 100vw;
   min-height: 100vh;
   display: flex;

   div.top-bar {
      width: 100vw;
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: end;

      // backdrop-filter: brightness(0.83);
      background-color: rgba($white-color, 0.08);

      .button-wrapper {
         height: 2.5rem;
         margin-left: 1rem;
         margin-right: 1rem;
         font-size: 1rem;
      }

      .greeter {
         font-size: 1.5rem;
         color: $white-color;
      }
   }

   .note-wrapper {
      margin: 5px;
   }
}
