@import "../../variables.scss";

section.notes-page {
   width: 100vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .notes-layout {
      padding: 15px 10px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;

      .notes-header {
         padding: 30px 0;
      }

      .filter-bar {
         display: flex;
         width: 86%;
         flex-direction: row;
         justify-content: space-between;
      }

      .notes-container {
         margin-top: 3rem;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      .note-wrapper {
         margin: 5px;
      }

      @include md {
         width: 100%;
         padding: 0rem 3rem;
      }
   }
}
