@import "../../variables.scss";

div.confirm-delete-note-modal {
   width: 100vw;
   height: 100vh;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100;

   .backdrop {
      width: 100vw;
      height: 100vh;
      background: $backdrop-color;
      z-index: 9000;
      position: fixed;
      top: 0;
      left: 0;
   }

   .card-wrapper {
      z-index: 9001;
      position: relative;
      padding: 2rem;
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      width: 500px;

      .header {
         display: flex;
         justify-content: space-between;

         .close-button {
            cursor: pointer;
            padding: 0.5rem;
         }
      }

      .content {
         display: flex;
         flex-direction: column;

         p {
            margin: 2rem 0;
         }
      }

      .footer {
         display: flex;
         align-items: flex-end;
         justify-content: flex-end;

         .button-wrapper {
            margin-left: 0.5rem;

            &.cancel {
               background-color: $light-gray-color;
            }
         }
      }
   }
}
