@import "../../variables.scss";

div.color-picker-wrapper {
   p {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0.2rem;
      color: $shadow-color;
   }

   div.values {
      display: flex;

      button.color-tab {
         width: 2.3rem;
         height: 2.3rem;
         margin-inline: 0.8rem;
      }
   }
}
