@import "../../variables.scss";

.top-bar {
   width: 100vw;
   background: $background-side-color;
   z-index: 1;
   display: block;
   position: fixed;
   background: linear-gradient(38deg, $secondary-color 0%, $primary-color 100%);

   .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
   }

   .buttons-wrapper {
      display: flex;

      .button-wrapper {
         background: $light-color;
         border-radius: 50%;
         padding: 15px;
         margin: 8px;

         span {
            color: $primary-color;
            margin-right: 0;
         }

         p {
            color: $primary-color;
            display: none;
         }

         @include md {
            padding: 0.66rem;
            border-radius: 5px;

            p {
               display: block;
            }
         }
      }

      @include md {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
      }
   }

   h4 {
      margin: 10px;
      color: #f2eeee;
      font-size: 2rem;

      @include md {
         padding-left: 1.5rem;
      }
   }
}
