@import "../../variables.scss";

.top-bar {
   width: 100vw;
   background: $background-side-color;
   z-index: 1;
   display: block;
   // margin-bottom: 200px;
   // position: "fixed";
   // left: "0";
   // top: "0";

   background: linear-gradient(38deg, $secondary-color 0%, $primary-color 100%);

   .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
   }

   .buttons-wrapper {
      display: flex;

      .button-wrapper {
         background: $light-color;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 15px;
         cursor: pointer;
         margin: 8px;

         height: 48px;
         width: 48px;

         span {
            color: $primary-color;
            margin-right: 0;
            // display: none;
         }

         p {
            display: none;
         }
      }

      @include md {
         padding-left: 1.5rem;
         padding-right: 1.5rem;

         .button-wrapper {
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 0.66rem;
            border-radius: 5px;
            border-bottom: rgba($shadow-color, 0.2) solid 2px;
            text-transform: uppercase;
            cursor: pointer;

            height: auto;
            width: auto;

            p {
               color: $primary-color;
               display: block;
               padding: 0 0.66rem;
            }
         }
      }
   }

   h4 {
      margin: 10px;
      color: #f2eeee;
      font-size: 2rem;

      @include md {
         padding-left: 1.5rem;
      }
   }
}
