@import "../../../variables.scss";

div.date-time-picker-wrapper {
   display: flex;
   flex-direction: column;

   p {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0.2rem;
      color: $shadow-color;
   }

   &.hidden {
      .react-date-picker__wrapper {
         display: none;
      }
   }

   & .react-date-picker {
      .react-date-picker__wrapper {
         padding: 1rem;
         border: none;
         outline: none;
         background: $light-color;
         border-radius: 5px;
         border-bottom: rgba($shadow-color, 0.2) solid 2px;

         &:focus {
            border-bottom: $primary-color solid 2px;
         }

         &:disabled {
            color: $inactive-color;
         }
      }

      .react-date-picker__button {
         &:hover,
         &:focus {
            svg {
               stroke: $primary-color;
            }
         }
      }

      .react-calendar {
         padding: 3px;
         border-radius: 5px;
         border: rgba($shadow-color, 0.2) solid 2px;

         .react-calendar__tile--active {
            background-color: $primary-color;
         }
         .react-calendar__tile--now {
            background-color: $secondary-color;
            color: white;
         }
      }
   }
}
