$primary-color: #d80130e1;
$secondary-color: #0077e6dc;

$background-color: #d0dcf0;
$background-side-color: #e4ebf7;
$inactive-color: #b9b9b9;
$light-gray-color: #8d8d8d;
$text-color: #1d1d20;
$light-color: #f2eeee;
$white-color: #ffffff;
$shadow-color: #454545;
$backdrop-color: #1a1a1a94;

// Shadows
$elevation-1: rgba($shadow-color, 0.8) 0 0 3px;
$elevation-2: rgba($shadow-color, 0.8) 0 0 5px;
$elevation-3: rgba($shadow-color, 0.8) 0 0 8px;

// Scale
$scale-1: 1.333;
$scale-2: calc($scale-1 * $scale-1);
$scale-3: calc($scale-1 * $scale-2);
$scale-4: calc($scale-1 * $scale-3);
$scale-5: calc($scale-1 * $scale-4);
$scale-6: calc($scale-1 * $scale-5);
$scale-7: calc($scale-1 * $scale-6);

// Breakpoints
$screen-sm-min: 320px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1200px;

// Note variants
$note-variant-1: #ffa51d;
$note-variant-2: #fd5512;
$note-variant-3: #e9ff25;
$note-variant-4: #8c52ff;
$note-variant-5: #00d3fd;
$note-variant-6: #fc5fa0;

@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
      @content;
   }
}

@mixin md {
   @media (min-width: #{$screen-md-min}) {
      @content;
   }
}

@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
      @content;
   }
}

@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
      @content;
   }
}
