@import "../../variables.scss";

.bottom-bar {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(38deg, $secondary-color 0%, $primary-color 100%);
   position: sticky;
   left: 0;
   bottom: 0;
   margin-top: 1rem;

   .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .buttons-wrapper {
      display: flex;

      .button-wrapper {
         background: $light-color;
         border-radius: 50%;
         padding: 15px;
         margin: 8px;

         span {
            color: $primary-color;
            margin-right: 0;
         }

         p {
            color: $primary-color;
            display: none;
         }

         @include md {
            padding: 0.66rem;
            border-radius: 5px;

            p {
               display: block;
            }
         }
      }

      @include md {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
      }
   }

   h4 {
      color: #f2eeee;
      margin-right: 1.5rem;

      @include md {
      }
   }
}
