@import "../../../variables.scss";

.button-wrapper {
   background-color: $primary-color;
   color: $light-color;
   display: flex;
   align-items: center;
   padding: 0.66rem;
   border-radius: 5px;
   box-shadow: $elevation-1;
   text-transform: uppercase;
   cursor: pointer;

   span {
      color: $light-color;
   }

   p {
      color: $light-color;
      padding: 0 0.66rem;
   }
}
