@import "../../../variables.scss";

.button-wrapper {
   width: fit-content;
   background-color: $primary-color;
   display: flex;
   align-items: center;
   padding: 0.66rem;
   border-radius: 5px;
   border-bottom: rgba($shadow-color, 0.2) solid 2px;
   text-transform: uppercase;
   cursor: pointer;

   span {
      color: $light-color;
      margin-right: 0.5rem;
   }

   p {
      color: $white-color;
      padding: 0 0.66rem;
   }

   .material-icons {
   }
}
