@import "../../variables.scss";

.color-filter-wrapper {
   height: 5rem;
   background-color: $background-color;
   border-radius: 0.75rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
