@import "../../variables.scss";

.color-filter-wrapper {
   height: 5rem;
   background-color: $background-color;
   border-radius: 0.75rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   .color-tab {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 100%;
      transition: 0.2s transform ease-in-out;
      border: none;
      margin-inline: 0.8rem;
      cursor: pointer;

      @include md {
         width: 2.8rem;
         height: 2.8rem;
         margin-inline: 1.2rem;
      }

      &:hover {
         transform: scale(1.25);
      }
   }
   
   @keyframes selected {
      50%  {opacity:0.7;}
    }

   .color-tab--clicked {
      @extend .color-tab;
      // border: 0.2rem solid;
      // border-radius: 2.2rem;

      transform: scale(1.25);
      animation-name: selected;
      animation-duration: 2s;
      animation-iteration-count: infinite;
   }

   .light-orange {
      background-color: $note-variant-1;
   }

   .orange {
      background-color: $note-variant-2;

   }

   .yellow {
      background-color: $note-variant-3;

   }

   .purple {
      background-color: $note-variant-4;

   }

   .turquoise {
      background-color: $note-variant-5;


   }

   .pink {
      background-color: $note-variant-6;

   }
}
